<footer class="wrapper--outer">
  <div class="wrapper">
    <div class="col--4 rule--light" id="footer__caption">
      <h2>
        Connect with us:
      <h2>
    </div>
    <div class="footer__social col--4 rule--light mobile--wide">
      {% for link in page.footer %}
        <div>
          <a href="{{ link[1] }}" target="_blank">
            <i class="fab fa-{{ link[0] }}"></i>
          </a>
        </div>
      {% endfor %}
    </div>
    <div class="footer__logo col--4 rule--light mobile--wide">
      {% include logo.html %}
    </div>
  </div>
</footer>
