<head>
  <meta charset="UTF-8">

  <!-- Title -->
  <title>
    {{ site.title }} &#124; {{ site.tagline }}
  </title>

  <!-- Fonts -->
  <link rel="stylesheet" href="https://use.typekit.net/mse0cky.css">

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}css/styles.css">

  <!-- Javascript  -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="{{ site.baseurl }}assets/main.js"></script>

  <!-- Favicon -->

</head>
