<head>
  <meta charset="UTF-8">

  <!-- Title -->
  <title>
    {{ site.title }} &#124; {{ site.tagline }}
  </title>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-24462492-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-24462492-3');
  </script> -->

  <!-- Global site tag (gtag.js) - Google Ads: 769001105 -->
  <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=AW-769001105"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){
      dataLayer.push(arguments);
    }  
    gtag('js', new Date());
    gtag('config', 'AW-769001105');
  </script> -->

  <!-- Facebook Pixel Code -->
  <!-- <script>
    !function(f,b,e,v,n,t,s){
      if(f.fbq)return;n=f.fbq=function(){
        n.callMethod?n.callMethod.apply(n,arguments):n.queue.push(arguments)
      };
      if(!f._fbq)f._fbq=n;
      n.push=n;
      n.loaded=!0;
      n.version='2.0';
      n.queue=[];
      t=b.createElement(e);
      t.async=!0;
      t.src=v;
      s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)
    }
    (window,document,'script','https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1282688558522370');
    fbq('track', 'PageView');
  </script>
  <noscript>
    <img height="1" width="1" src="https://www.facebook.com/tr?id=1282688558522370&ev=PageView&noscript=1"/>
  </noscript> -->
  <!-- End Facebook Pixel Code -->

  <!-- Fonts -->
  <link rel="stylesheet" href="https://use.typekit.net/mse0cky.css">

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}css/styles.css">

  <!-- Mobile Styling -->
  <meta content="width=device-width, initial-scale=1" name="viewport" />

  <!-- Javascript  -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="{{ site.baseurl }}assets/main.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/p5.min.js"></script>
  <script src="{{ site.baseurl }}assets/popcorn.js"></script>

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="/assets/favicon/site.webmanifest">
  <link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/brands.css" integrity="sha384-BKw0P+CQz9xmby+uplDwp82Py8x1xtYPK3ORn/ZSoe6Dk3ETP59WCDnX+fI1XCKK" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/fontawesome.css" integrity="sha384-4aon80D8rXCGx9ayDt85LbyUHeMWd3UiBaWliBlJ53yzm9hqN21A+o1pqoyK04h+" crossorigin="anonymous">

</head>
