@import "variables";

// Wrappers
////////////////////////////////////////////////////////////////////////////////
.wrapper {
  width: 75%;
  max-width: 1440px;
  margin: 0 auto;
  display: block;
  // Clearfix
  zoom: 1;
  &:after {
    content:" ";
    display: block;
    clear: both;
  }
}

.wrapper--outer {
  width: 100%;
  background-color: $black;
  // Clearfix
  zoom: 1;
  &:after {
    content:" ";
    display: block;
    clear: both;
  }
}

.wrapper--video{
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  margin-bottom: $gutter;
  iframe{
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
}

// Sections
////////////////////////////////////////////////////////////////////////////////

section {
  margin-bottom: $gutter-6;
}

.section__song {
  margin-bottom: $gutter;
  iframe {
    width: 100%;
  }
}

// Header
////////////////////////////////////////////////////////////////////////////////

header {
  margin-bottom: $gutter;
}

.header__title {
  margin-top: $gutter-3;
}

// Links
////////////////////////////////////////////////////////////////////////////////

.button {
  background-color: $black;
  height: $gutter-2;
  line-height: $gutter-2;
  border-radius: 500px;
  text-align: center;
  &:hover {
    background-color: $yellow;
    border: 2px solid $black;
    cursor: pointer;
    h2 {
      color: $black;
    }
  }
}

.links__link {
  margin-bottom: $gutter-2;
}

// Footer
////////////////////////////////////////////////////////////////////////////////
footer {
    padding: $gutter-2 0 $gutter-8 0;
}

.footer__social {
  color: $yellow;
  display: inline-flex;
  div {
    flex: auto;
    display: inline;
    text-align: center;
    i {
      font-size: 36px;
    }
  }
}

.footer__logo {
  fill: $yellow;
}
