* {
  font-family: urw-din, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-weight: 700;
  font-size: 150px;
  line-height: 120px;
  text-transform: uppercase;
  margin-bottom: $gutter-2;
  color: $yellow;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: $black;
  strong {
    color: $black;
    font-weight: inherit;
  }
}

h2 {
  font-size: 18px;
  font-weight: 700;
  color: $yellow;
  text-transform: uppercase;
}

p {
  font-size: 18px;
  line-height: 20px;
}

a {
  text-decoration: underline;
  color: inherit;
  &visited {
    color: inherit;
  }
  &:hover {
    text-decoration: none;
  }
}
